body {
  background-color: #E3F2FD;
  color: #232d48;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.forms {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  width: 80%;
  border-radius: 7px;
  height: 35px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

label {
  margin-top: 15px;
}

.page {
  margin: 0 auto;
  background-color: rgb(204, 214, 255);
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.butt {
  background-color: #eae6ff;
  width: 80%;
  height: 40px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
}

.butt:hover {
  background-color: rgb(178, 240, 255);
  transform: scale(1.05);
}

#sign_up {
  text-align: center;
  margin-top: 20px;
}

#sign_up a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}
